<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <span style="font-size: 18px; font-weight: bold; padding-left: 15px; color: #09509d;">FILTER</span>
    </ion-buttons> -->
    <!-- <img class="logo" src="assets/logo.png"> -->
    <ion-buttons slot="end">
      <ion-icon style="font-size: 33px;" class="icon_close" (click)="closeModal()" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- style="border-bottom: 1px solid #eae4e4;" -->
    <ion-row>
        <ion-col style="padding-left: 10px;padding-right: 10px;">
            <!-- <P style="margin-bottom: 0px;margin-top: 8px;font-weight: 600;">Remove atleast one product to compare</P> -->
            <P style="margin-top: 5px;margin-bottom: 0px;">{{uspDescription}}</P>
        </ion-col>
      </ion-row>  
</ion-content>