:host {
  // display: block;
  overflow: hidden;
  position: relative;
  width: 100%;

  .content-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}
