<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-card-content">
<ion-row class="user-preferences-wrapper">
    <ion-col size="12" class="align-col">
        <img class="logo" src="assets/logo-menu.png">
      <h4 class="preference-name">v 1.4</h4>
      <ion-icon class="icon-color" name="at-outline"></ion-icon>
      <p class="preference-value">
          <a href="https://www.bluestarindia.com">https://www.bluestarindia.com</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <p class="footer">This app is owned and operated by Blue Star Limited. &copy; Copyright 2020 Blue Star Limited. All rights reserved. <a href="#"></a></p>
</ion-footer>
