.showcase-content {
  --background: var(--app-background);

  ion-item-divider {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-lightest);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .showcase-section {
    margin: 20px 20px 60px;
  }

  pre {
    font-size: 14px;
    background: #CCC;
    padding: 10px;
  }

  code {
    color: #F92672;
    font-weight: 500;
  }
}
.menu_icon{
  // float: right;
  font-size: 25px;
  // padding-right: 10px;
  // padding-top: 7px;
  // color: white;
}
.clsoe-icon{
  padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}
.heart_icon{
  font-size: 28px;
  margin-right: 5px;
  // color: white;
}
.copy_icon{
  font-size: 25px;
  margin-right: 5px;
  // color: white;
}
.main-title{
  padding-left: 20px !important;
  padding-top: 15px !important;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  color: #09509d;
  text-transform: uppercase;
}
.icon_close{
  float: right;
  font-size: 1.7em;
  color: #000000;
  padding-right: 6px;
}
.list-md{
  padding: 0px !important;
}


// ************************* Accordian

$midnight: #2c3e50;
$clouds: #ecf0f1;
// General
body {
  color: $midnight;
  background: $clouds;
  padding: 0 1em 1em;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  // margin-left: 10px; 
  // margin-right: 10px;
  .col {
    flex:1;
    &:last-child {
      // margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  // border-radius: 8px;
  overflow: hidden;
  // box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: black;
  overflow: hidden;
  // border-bottom: 1px solid grey;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    // background: $midnight;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid grey;
    /* Icon */
    &:hover {
      // background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
    // .active:after {
    //   content: "\2796"; /* Unicode character for "minus" sign (-) */
    // }
  }
  &-content {
    max-height: 0;
    // padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      // background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    // background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    // padding: 1em;
  }
}

.bedge-align{
  position: absolute;
  margin-left: 75%;
}

// .bedge-align-mrp{
//   position: absolute;
//   top: 65px;
//   right: 45px
// }
