<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/logo.png">
    <!-- <ion-title>Search</ion-title> -->
    <ion-buttons slot="end">
      <ion-icon name="heart-outline" class="heart_icon" [routerLink]="['/favourites']"></ion-icon>
      <ion-icon name="home-outline" class="home_icon" [routerLink]="['/categories']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fashion-listing-content">
  <ng-container>
    <ion-row>
      <ion-col style="text-align: center; font-weight: 600;margin-bottom: 10px; font-size: 20px;">
          Product Catalogue
      </ion-col>
    </ion-row>

    <ion-row class="items-row">
      <ion-col size="6" *ngFor="let item of product_leaflet" class="listing-item">
        <div class="item-image-wrapper">

          <ion-row>
            <ion-col style="text-align: center;padding-top: 15px;padding-bottom: 15px;font-size: 18px">
              <!-- <span class="item-sale-price"> -->
                <!-- <app-text-shell class="product-text" animation="gradient" [data]="productName"></app-text-shell> -->
              <!-- </span> -->
             {{item.category}}
            </ion-col>
          </ion-row>

          <a class="image-anchor" style="text-align: center; font-size: 5rem;">
            <!-- <app-image-shell class="item-image" animation="spinner" src="https://dams.bluestarindia.com/sites/default/files/styles/bluestar_product_listing_page/public/air_cooler/Front%20View_0.png?itok=aOp7sT17"
              [alt]="'product image'">
            </app-image-shell> -->
            <ion-icon *ngIf="item.category == 'Air Conditioner'" name="snow-outline"></ion-icon>
            <ion-icon *ngIf="item.category == 'Air Cooler'" name="aperture-outline"></ion-icon>
            <ion-icon *ngIf="item.category == 'Air Purifier'" name="flower-outline"></ion-icon>
            <ion-icon *ngIf="item.category == 'Water Purifier'" name="water-outline"></ion-icon>
          </a>

          <ion-row>
            <ion-col style="padding: 5px;">
              <ion-button style="font-weight: 600;text-transform: capitalize;font-size: 12px;" expand="block" (click)="downloadPDF(item)">Download Catalogue</ion-button>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>

      <!-- <ion-col size="6" class="listing-item">
          <div class="item-image-wrapper">
  
            <ion-row>
              <ion-col style="text-align: center;padding-top: 15px;padding-bottom: 15px;font-size: 18px">
                Air Cooler
              </ion-col>
            </ion-row>
  
            <a class="image-anchor" style="text-align: center; font-size: 5rem;">
              <ion-icon name="aperture-outline"></ion-icon>
            </a>
  
            <ion-row>
              <ion-col style="padding: 5px;">
                <ion-button style="font-weight: 600;text-transform: capitalize;font-size: 12px;" expand="block">Download Catalogue</ion-button>
              </ion-col>
            </ion-row>
  
          </div>
        </ion-col>

        <ion-col size="6" class="listing-item">
            <div class="item-image-wrapper">
    
              <ion-row>
                <ion-col style="text-align: center;padding-top: 15px;padding-bottom: 15px;font-size: 18px">
                  Air Purifier
                </ion-col>
              </ion-row>
    
              <a class="image-anchor" style="text-align: center; font-size: 5rem;">
                <ion-icon name="flower-outline"></ion-icon>
              </a>
    
              <ion-row>
                <ion-col style="padding: 5px;">
                  <ion-button style="font-weight: 600;text-transform: capitalize;font-size: 12px;" expand="block">Download Catalogue</ion-button>
                </ion-col>
              </ion-row>
    
            </div>
          </ion-col>

          <ion-col size="6" class="listing-item">
              <div class="item-image-wrapper">
      
                <ion-row>
                  <ion-col style="text-align: center;padding-top: 15px;padding-bottom: 15px;font-size: 18px">
                    Water Purifier
                  </ion-col>
                </ion-row>
      
                <a class="image-anchor" style="text-align: center; font-size: 5rem;">
                  <ion-icon name="water-outline"></ion-icon>
                </a>
      
                <ion-row>
                  <ion-col style="padding: 5px;">
                    <ion-button style="font-weight: 600;text-transform: capitalize;font-size: 12px;" expand="block">Download Catalogue</ion-button>
                  </ion-col>
                </ion-row>
      
              </div>
            </ion-col> -->
    </ion-row>
    <div *ngIf="noRecords == 0">
      <div style="font-size: 20px;text-align: center;margin-top: 50%">No product found</div>
    </div>
  </ng-container>
</ion-content>