// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --shell-color: #cb328f;
  --shell-color-rgb: 203,50,143;
}

// You can also apply sheel styles to the entire page
:host(.is-shell) {
  // ion-content {
  //   opacity: 0.8;
  // }
  a {
    pointer-events: none;
  }
}

app-image-shell.item-image {
  // --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  // --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);

  // --image-shell-loading-background: #8cb9ea;
  --image-shell-loading-background: white;
  --image-shell-spinner-color: #5289c3;
}

.item-name app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .25);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .35);
  --text-shell-line-height: 14px;
}

.item-sale-price > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .20);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .30);
  --text-shell-line-height: 16px;
}

.item-original-price > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .20);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .30);
  --text-shell-line-height: 16px;
}
