// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  --page-highlighted-background: var(--ion-color-secondary-tint);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-header {
  ion-toolbar {
    // --background: var(--page-highlighted-background);
  }
}

.contact-card-content {
  // --background: var(--page-background);
  // To fix half pixel line between ion-header and  ion-content
  transform: translateZ(0);

  .user-details-wrapper {
    --ion-grid-column-padding: 0px;

    // padding: 0px var(--page-margin) var(--page-margin);
    // background-color: var(--page-highlighted-background);
    background-color: #09509d;
    color: var(--ion-color-light);
    align-items: center;
    padding: 25px;
    .user-avatar {
      border: solid 3px var(--ion-color-light);
    }

    .user-info-wrapper {
      // padding-left: calc(var(--page-margin) / 2);
      text-align: center;
      font-size: 50px;

      .user-name {
        margin: 0px 0px 5px;
      }

      .user-handle {
        margin: 0px;
        font-weight: 400;
      }
      .row-padding{
        padding: 30px 50px 50px 50px
      }
    }

    .user-stats-wrapper {
      text-align: center;
      padding-top: calc(var(--page-margin) / 2);

      .user-stat-value {
        margin-right: 5px;
        font-weight: 500;
        font-size: 18px;
      }

      .user-stat-name {
        font-size: 16px;
      }
    }

    .user-bio {
      margin: var(--page-margin) 0px 0px;
      line-height: 1.2;
      font-size: 14px;
    }
  }

  .user-preferences-wrapper {
    --ion-grid-column-padding: 0px;

    padding: var(--page-margin);

    .preference-name {
      margin: 5px 0px 5px 0px;
      font-size: 16px;
      font-weight: bold;
    }

    .preference-value {
      margin: 0px 0px calc(var(--page-margin) / 2);
      font-size: 15px;
      line-height: 1.4;
      // color: var(--ion-color-dark-tint);
      color: #09509d;
    }
  }
}

.align-col{
  text-align: center;
}

.icon-color{
  font-size: 30px;
  color: #09509d;
}

.row-border-bottom{
  border-bottom: 1px solid #eae4e4;
}

ion-header ion-toolbar:first-of-type{
  text-align: center;
}

.logo{
  // width: 140px;
  // margin-right: 10px;

  width: 60%;
  margin-top: 5px;
}

.menu_icon{
  font-size: 25px;
  margin-right: 5px;
}
