// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --shell-color: #cb328f;
  --shell-color-rgb: 203,50,143;
}

// You can also apply sheel styles to the entire page
:host(.is-shell) {
  // ion-content {
  //   opacity: 0.8;
  // }
}

app-image-shell.showcase-image {
  // --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  // --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);

  // --image-shell-loading-background: #8cb9ea;
  --image-shell-loading-background: white;
  --image-shell-spinner-color: #5289c3;
  background-size: contain;
  background-position: 50% 50%;
}

.details-name > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .25);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .35);
  --text-shell-line-height: 18px;
  max-width: 60%;

  &.text-loaded {
    max-width: inherit;
  }
}

.details-brand > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .20);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .30);
  --text-shell-line-height: 14px;
  max-width: 40%;

  &.text-loaded {
    max-width: inherit;
  }
}

.details-price > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .10);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .20);
  --text-shell-line-height: 18px;
  width: 50px;

  &.text-loaded {
    width: inherit;
  }
}

.details-sale-price > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .10);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .20);
  --text-shell-line-height: 18px;
  width: 50px;

  &.text-loaded {
    width: inherit;
  }
}

.details-description > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .10);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .20);
  --text-shell-line-height: 14px;
}

.details-description.product-code > app-text-shell {
  max-width: 40%;

  &.text-loaded {
    max-width: inherit;
  }
}

app-image-shell.related-product-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}

.item-name app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .25);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .35);
  --text-shell-line-height: 14px;
}

.item-sale-price > app-text-shell {
  --text-shell-animation-background: rgba(var(--shell-color-rgb), .20);
  --text-shell-animation-color: rgba(var(--shell-color-rgb), .30);
  --text-shell-line-height: 16px;
}
