@import "../../../../theme/mixins/inputs/select-alert";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-swiper-pagination-space: 30px;
  --page-swiper-pagination-height: 18px;
  --page-pagination-bullet-size: 10px;

  --page-options-gutter: calc(var(--page-margin) / 2);
  --page-related-items-gutter: calc(var(--page-margin) / 2);

  --page-color: #cb328f;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.fashion-details-content {
  --background: var(--page-background);

  .slider-row {
    // border: 1px solid var(--ion-color-light-shade);
    border: 1px solid #09509d;
    margin: 10px;
    .details-slides {
      // --bullet-background: var(--ion-color-dark-tint);
      // --bullet-background-active: var(--ion-color-dark-tint);
      
      --bullet-background: #09509d;
      --bullet-background-active: #09509d;

      height: 100%;
      width: 100%;

      .slide-inner-row {
        height: 100%;
        width: 100%;
        padding: 0px;
        // .swiper-pagination space
        padding-bottom: var(--page-swiper-pagination-space);
      }
    }

    .showcase-image {
      width: 100%;

      &.centered-image {
        background-size: auto;
        background-position: center;
      }
    }

    .showcase-image2 {
      width: 100%;
      height: auto;
      &.centered-image {
        background-size: auto;
        background-position: center;
      }
    }
  }

  .description-wrapper {
    padding: var(--page-margin) var(--page-margin) 0px;

    .details-name {
      font-size: 18px;
      font-weight: 500;
      margin: 0px 0px 5px;
    }

    .details-brand {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      margin: 0px 0px var(--page-margin);
    }

    .details-price {
      font-size: 18px;
      font-weight: 500;
      margin: 0px;
      color: var(--page-color);
      display: inline-block;
    }

    .details-sale-price {
      color: var(--ion-color-medium-shade);
      text-decoration: line-through;
      display: inline-block;
      margin-left: var(--page-margin);
      font-size: 14px;
    }
  }

  .details-purchase-options-row {
    --ion-grid-column-padding: var(--page-options-gutter);

    padding-top: 0px;
    padding-left: calc(var(--page-margin) - var(--page-options-gutter));
    padding-right: calc(var(--page-margin) - var(--page-options-gutter));
    padding-bottom: calc(var(--page-margin) * 2);

    .aux-action-col {
      display: flex;
      justify-content: flex-end;
      padding-top: 0px;
      padding-bottom: 0px;

      .size-chart-btn {
        margin: 0px;
        height: 25px;
      }
    }

    .main-call-to-action-col {
      padding-bottom: 0px;
    }

    .select-variant-btn {
      margin: 0px;
      text-transform: capitalize; 
      font-weight: 600;
    }

    .add-to-cart-btn {
      margin: 0px;
      margin-top: var(--page-margin);
    }
  }

  .detail-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--ion-color-dark-tint);
    margin: 0px;
    margin-bottom: calc(var(--page-margin) / 2);
    text-align: center;
  }

  .details-description-wrapper {
    padding-top: 0px;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
    padding-bottom: calc(var(--page-margin) * 2);

    .details-description {
      margin: 0px;
      line-height: 1.3;
      font-size: 14px;
      color: var(--ion-color-medium-shade);
    }
  }

  .detail-alt-title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--ion-color-dark-shade);
    margin: 0px;
    margin-bottom: var(--page-margin);
  }

  .related-products-wrapper {
    padding-top: 0px;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
    padding-bottom: calc(var(--page-margin) * 2);

    .related-products-list {
      --ion-grid-column-padding: 0px;

      .related-product-item {
        margin-bottom: calc(var(--page-margin) * 2);

        &:nth-child(odd) {
          padding-right: var(--page-related-items-gutter);
        }

        &:nth-child(even) {
          padding-left: var(--page-related-items-gutter);
        }

        .item-image-wrapper {
          border: 1px solid var(--ion-color-light-shade);

          .image-anchor {
            display: block;
          }
        }

        .item-details-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;

          padding: 5px 5px 0px;
        }

        .item-name {
          margin: 0px;
          margin-bottom: calc(var(--page-margin) / 2);
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          min-width: 90%;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .name-anchor {
            color: var(--ion-color-dark-tint);
            display: block;
            text-decoration: none;
          }
        }

        .item-sale-price {
          display: block;
          font-weight: 400;
          color: var(--page-color);
          font-size: 16px;
          text-align: center;
          min-width: 30%;
        }
      }
    }
  }
}


// ISSUE: .swiper-paggination gets rendered dynamically. That prevents styling the elements when using the default Angular ViewEncapsulation.None
//        (Angular doesn't add an '_ngcontent' attribute to the .swiper-paggination because it's dynamically rendered)
// FIX:   See: https://stackoverflow.com/a/36265072/1116959
:host ::ng-deep .details-slides {
  .swiper-pagination {
    height: var(--page-swiper-pagination-height);
    line-height: 1;
    // .swiper-pagination is 18px height, .slide-inner-row has 40px of padding-bottom => bottom = (40px - 18px)/2 = 11px
    bottom: calc((var(--page-swiper-pagination-space) - var(--page-swiper-pagination-height) ) / 2);

    .swiper-pagination-bullet {
      width: var(--page-pagination-bullet-size);
      height: var(--page-pagination-bullet-size);
    }
  }
}

// Alerts and in general all overlays are attached to the body or ion-app directly
// We need to use ::ng-deep to access it from here
::ng-deep .variant-alert {
  @include select-alert();

  // Variables should be in a deeper selector or after the mixin include to override default values
  --select-alert-color: var(--ion-color-lightest);
  --select-alert-background: var(--ion-color-primary);
  --select-alert-margin: var(--app-fair-margin);

  .alert-message {
    display: none;
  }
}
.main-title-row{
  margin: 10px
}
.main-title{
  font-size: 17px;
  color: #09509d;
  font-weight: bold;
}
.text-align{
  text-align: center
}

ion-header ion-toolbar:first-of-type{
  text-align: center;
}

.logo{
  // width: 65%;
  width: 70%;
  margin-top: 5px;
}
.menu_icon{
  font-size: 25px;
  margin-right: 5px;
}
.heart_icon{
  font-size: 28px;
  margin-right: 10px;
}
.copy_icon{
  font-size: 25px;
  margin-right: 5px;
  // color: white;
}
.icon-heart-red{
  float: right;
  padding-right: 5px;
  // padding-top: 5px;
  color: #09509d;
  font-size: 25px;
}
.icon-heart-black{
  float: right;
  padding-right: 5px;
  // padding-top: 5px;
  color: #09509d;
  font-size: 25px;
}
.icon-share{
  // font-size: 1.2em;
  // // color: #09509d;
  // margin-bottom: -3px;
  // padding-right: 3px;

  width: 30px;
  margin-bottom: -7px;
  padding-right: 3px;
}
.product-title{
  border-bottom: 1px solid #eae4e4;
  margin: 10px 15px 15px 15px;
}

ul{
  // font-weight: bold;
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li{
  padding-bottom: 10px;
}
.close_icon{
  font-size: 1.8em;
  float: right;
  color: white;
}
.row-popup{
  border: 1px solid #09509d;
  border-radius: 2%;
  margin: 10px;
  background-color: white;
  position: absolute;
  top: 30%;
  z-index: 9;
  width: -webkit-fill-available;
}

.col-background{
  background-color: #09509d;
}

.col-margin{
  // margin-top: 10px;
  margin-bottom: 10px;
}

.title-popup{
 padding-left: 5px;
 padding-top: 5px;
 font-weight: 600;
 color: white
}

.popup-description{
  padding: 20px 10px 20px 10px ;
 }

 .btn-padding-compare{
  padding-right: 0px;
  padding-left: 0px;
 }

 .btn-padding-download{
  padding-right: 0px;
  // padding-left: 5px;
 }

//  ul{
//    margin-top: 0px;
//  }

