<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="assets/logo.png">
    <ion-buttons slot="end">
        <!-- <ion-badge class="bedge-notification">20</ion-badge> -->
      <ion-badge *ngIf="countNotification != 0" class="bedge-notification">{{countNotification}}</ion-badge>
      <ion-icon name="notifications-outline" class="notification_icon" [routerLink]="['/notifications']"></ion-icon>
      <ion-icon name="heart-outline" class="heart_icon" [routerLink]="['/favourites']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <div class="container">
    <div class="div-height" (click)="goToProductListPage('Air Conditioners')">
        <img class="banner-image" src="assets/Blue-Star_Flipkart_AC-banner.png">
    </div>
    <div class="div-height" (click)="goToProductListPage('Air Coolers')">
        <img class="banner-image" src="assets/BlueStar_Aircooler.png">
    </div>
    <div class="div-height" (click)="goToProductListPage('Air Purifiers')">
        <img  class="banner-image" src="assets/BS_AirPurifier_v2.png">
    </div>
    <div class="div-height" (click)="goToProductListPage('Water Purifiers')">
        <img  class="banner-image" src="assets/BS_WaterPurifier_v2.png">
    </div>
  </div>
</ion-content>
