@import "../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .travel-category {
    --page-category-background: #00AFFF;
    --page-category-background-rgb: 0,175,255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203,50,143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235,187,0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112,223,112;
  }

  .real-estate-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217,69,58;
  }
}

ion-header ion-toolbar:first-of-type{
  text-align: center;
}
.logo{
  width: 60%;
  margin-top: 5px;
}
.heart_icon{
  font-size: 28px;
  margin-right: 5px;
  color: white;
}

.notification_icon{
  font-size: 28px;
  margin-right: 10px;
}

.copy_icon{
  font-size: 25px;
  margin-right: 10px;
  color: white;
}

.container{
  width: 100%; 
  height: 100%;
}
.div-height{
  height: 25%;
  padding-bottom: 2px;
}
.banner-image{
  height: 100%;
  // object-fit: cover;
}
.footer{
  padding: 10px 0px;
  background-color: #314b62;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin: 0px;
}

.bedge-notification{
  background-color: red; 
  border-radius: 50%;
  // padding: 5px;
  position: absolute;
  left: 15px;
  top: -8px;
  z-index: 999;
  height: 23px;
  width: 23px;
}

@media screen and (orientation: landscape) {
  .div-height{
    height: 100%;
    padding-bottom: 2px;
  }
}
