:host {
  --image-shell-loading-background: #EEE;
  --image-shell-border-radius: 0px;

  display: block;
  position: relative;
  height: 100%;
  border-radius: var(--image-shell-border-radius);
  transition: all ease-in-out .3s;
  z-index: 2;

  // By default, hide the spinner
  & > .spinner {
    display: none;
  }

  // Loading background
  &::before {
    content: '';
    background: var(--image-shell-loading-background);
    border-radius: var(--image-shell-border-radius);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:not([display="cover"]) {
    width: 100%;
    overflow: hidden;

    & > .inner-img {
      transition: visibility 0s linear, opacity .5s linear;
      opacity: 0;
      visibility: hidden;
      // width: 100%;
      // height: 100%;
      border-radius: var(--image-shell-border-radius);
      width: auto;
      height: auto;
      object-fit: contain;
    }

    &.img-loaded {
      // Hide loading background once the image has loaded
      &::before {
        display: none;
      }

      & > .inner-img {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // If it is display: cover
  &[display="cover"] {
    background-size: cover;
    background-repeat: no-repeat;

    // In cover display, we can have content inside the element, thus we need to put these elements beneath
    &::before,
    & > .spinner {
      z-index: -1;
    }

    & > .inner-img {
      // display: none;
      // visibility: hidden;
    }

    &.img-loaded {
      // Hide loading background once the image has loaded
      &::before {
        display: none;
      }
    }
  }
}

:host([animation="gradient"]) {
  --image-shell-loading-background: #EEE;
  --image-shell-animation-color: #DDD;

  // The animation that goes beneath the masks
  &::before {
    background:
      linear-gradient(to right, var(--image-shell-loading-background) 8%, var(--image-shell-animation-color) 18%, var(--image-shell-loading-background) 33%);
    background-size: 800px 104px;
    animation: animateBackground 2s ease-in-out infinite;
  }

  &.img-loaded {
    // Reset background animation once the image has loaded
    &::before {
      background: none;
      animation: 0;
    }
  }

  @keyframes animateBackground {
    0%{
      background-position: -468px 0
    }

    100%{
      background-position: 468px 0
    }
  }
}

:host([animation="spinner"]) {
  --image-shell-spinner-size: 28px;
  --image-shell-spinner-color: #CCC;

  & > .spinner {
    display: block;
    position: absolute;
    top: calc(50% - calc(var(--image-shell-spinner-size) / 2));
    left: calc(50% - calc(var(--image-shell-spinner-size) / 2));
    width: var(--image-shell-spinner-size);
    height: var(--image-shell-spinner-size);
    font-size: var(--image-shell-spinner-size);
    line-height: var(--image-shell-spinner-size);
    color: var(--image-shell-spinner-color);
  }

  &.img-loaded {
    & > .spinner {
      display: none;
      visibility: hidden;
    }
  }
}

:host(.add-overlay) {
  --image-shell-overlay-background: rgba(0, 0, 0, .4);

  &.img-loaded {
    // Add background overlay after the image has loaded
    &::before {
      display: block;
      background: var(--image-shell-overlay-background);
    }
  }
}
